article {
    font-size: 20px;
    font-weight: 500;
}

img {
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 500px;
    max-height: 500px;
}

p {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin-left: 50px;
}

.txt {
    max-width: 820px;
}

.cats_inf {
    max-width: 100%;
    margin-top: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
    position: absolute;
    right: 10%;
    top: 5%;
}

.card_1 {
    border-radius: 15px;
    overflow: hidden;
    
}

.card_2 {
    border-radius: 15px;
    overflow: hidden;
   
}

.c {
    width: 400px;
    background-color: #37516b;
    text-align: end;
    padding: 0.5px;
    box-sizing: border-box;
}

.cats_inf_2 {
    max-width: 820px;
    margin-top: 30px;
}

.info_p {
    max-width: 355px;
}
@media (min-width: 280px) and (max-width: 1450px) {
    .cards{
        float: inherit;
        flex-direction: row;
        position: static;
        flex-wrap: wrap;
        margin-top: 35px;
        justify-content: center;
    }
    .container{
        margin-left: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
}