body {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

header {
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

a{
    color: black;
}



.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #B00000;
    justify-content: center;
    display: none;
}

.value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
    background-color: #21262C;
}

.value:focus,
.value:active {
    background-color: #1A1F24;
    outline: none;
}

.value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2F81F7;
    border-radius: 5px;
    opacity: 0;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

.value svg {
    width: 15px
}



.all_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.our {
    display: flex;
    align-items: center;
    gap: 50px;
}

.q {
    font-size: 20px;
    font-weight: 500;
    color: black;
    border-bottom: 2px solid red;
    padding: 5px;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 40px;
}

.links_a {
    border-bottom: unset;
}

.contacts {
    display: flex;
    gap: 10px;

}

.numb {
    border-bottom: unset;
}

.w {
    padding-right: 35px;
    border-right: 1px solid lightgray;
}

.phone {
    padding-left: 20px;
}

/* NAVIGATION */

.navigation {
    border-bottom: 2px solid grey;
    max-width: fit-content;
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.big_block {
    display: flex;
    justify-content: space-between;
}

.nav_links {
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: grey;
    transition-duration: 1.1s;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav_links:hover {
    color: red;
    transition-duration: 1.1s;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 80px;
}

.info_block {
    color: grey;
    font-size: 20px;
    line-height: 40px;
}

.buttons {
    display: flex;
    gap: 25px;
}

.sec {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    outline: none;
    color: black;
    transition-duration: 0.5s;
    border: 1px solid black;
}

.sec:hover {
    background-color: #af0100;
    transition-duration: 0.7s;
    color: white;
    border: none;
}

.right {
    position: absolute;
    right: 5%;
}

.pieces {
    position: absolute;
    top: 80%;
    right: -5%;
}

.z {
    top: 25%;
    rotate: (-90deg);
    right: -3%;
}

.x {
    top: 60%;
    right: 97%;
}

.organizations {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.left_2 {
    max-width: 600px;
}

.right_2 {
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
}

legend {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    max-width: 573px;
}

.cards {
    margin-top: 145px;
    display: flex;
    justify-content: space-between;
}

.item {
    max-width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
}

.card_p {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

/* part 2 */

.ready_to_get {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    gap: 40px;

}

.choose {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
}

.switch {
    font-size: 20px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #522ba7;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}


.switch_button {
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 100px;
}

.switcher {
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
}

.discount {
    width: 87px;
    height: 24px;
    background-color: #FFE87A;
    border-radius: 10px;
    margin: 0;
    padding-bottom: 5px;
}

.disc {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}

.b_p {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;

}

.g {
    width: 400px;
    border-bottom: 4px solid grey;
    transition-duration: 0.5s;
}

.g:hover {
    border-bottom: #B00000 solid 4px;
    transition-duration: 1s;
}

.p {
    font-size: 30px;
    line-height: 40px;
    color: grey;
    text-decoration: none;
    transition-duration: 0.5s;
}

.p:hover {
    color: #B00000;
    transition-duration: 1s;
}

.cards_2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.card_item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 20px;
    border: 1.5px solid #C4C4C4;
    border-radius: 15px;
}

.card_p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.per {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    margin-top: -25px;
}

.choose_plan {
    max-width: 235px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid black;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    background-color: transparent;
    transition-duration: 0.4s;
    color: black;
}

.choose_plan:hover {
    background-color: #B00000;
    transition-duration: 0.7s;
    color: white;
}

.date {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 20px;
}

.date_item {
    display: flex;
    gap: 30px;

}

.inf {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #808080;
}

.title {
    font-size: 32px;
    line-height: 25px;
    font-weight: 800;
}

.y {
    background-image: url(“.svg);
    background-repeat: no-repeat;
}

.absolute_block {
    margin-top: 150px;
}

.text_block {
    padding-top: 20px;
    padding-left: 100px;
}

.real_s {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
}

.get {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.story_block {
    box-shadow: 0px 10px 20px 0px #29292A12;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-left: 150px;
}

.logo_story {
    max-width: fit-content;
    max-height: fit-content;
}

.tell {
    max-width: 255px;
    background-image: url(“-2.svg);
    background-repeat: no-repeat;
    padding: 10px;
}

.tell_p {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.name {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.bottom {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #969BAB;
}

.story_block_2 {
    box-shadow: 0px 10px 20px 0px #29292A12;
    width: 445px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-left: 50px;
    box-sizing: border-box;
}

.h {
    width: 350px;
}

.float {
    float: right;
    position: relative;
    right: 15%;
    display: flex;
    flex-direction: column;
    top: -700px;
    gap: 30px;
}

.story_block_3 {
    box-shadow: 0px 10px 20px 0px #29292A12;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-left: 50px;
    box-sizing: border-box;
}

.block_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    position: absolute;
    max-width: 100%;
    gap: 100px;
}

.left_side {
    width: 600px;
}

.right_side {
    display: flex;
    flex-direction: column;
}

.imgs_block {
    display: flex;
    gap: 100px;
}

.leg {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
}

.large_text {
    background-color: #F7FAFE;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 450px;
    margin-top: 100px;
    position: relative;
}

.big {
    font-size: 68px;
    font-weight: 800;
}

.whats {
    width: 200px;
    height: 50px;
    background-color: #B00000;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    outline: none;
    font-size: 14px;
}

.elements {
    position: absolute;
    top: 80%;
    right: 0%;
}

.u {
    top: 70%;
    left: 0%;

}

.o {
    top: 15%;
}

/* footer */


footer {
    background-color: #B00000;
    padding: 100px;
    box-sizing: border-box;
    margin-top: 100px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.column_footer {
    display: flex;
    flex-direction: column;
    height: 350px;
    gap: 25px;
}

.all_cl {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.footer_p {
    max-width: 300px;
    color: white;
    font-size: 18px;
    line-height: 32px;
}

.footer {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.footer_a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.bottom_p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.first_two {
    display: flex;
    gap: 70px;
}




/* MEDIA */

@media (max-width: 1150px) {
    .all_nav {
        display: none;
    }

    .container {
        padding: 10px;
    }

    header {
        padding: 0;
    }

    .nav_img {
        display: none;
    }

    .big_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right {
        position: relative;
        width: 450px;
        height: 450px;
        overflow: hidden;
    }

    .v {
        right: 0%;
        top: 85%;
    }

    .z {
        top: 20%;
    }

    .x {
        top: 70%;
        right: 95%;
    }

    .organizations {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

    }

    .cards_2 {
        flex-wrap: wrap;
        gap: 40px;
    }

    .float {
        float: unset;
        position: unset;
        display: flex;
        flex-direction: unset;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .leg {
        text-align: center;
        max-width: unset;
    }

    .absolute_block {
        margin-top: 50px;
        display: flex;

        flex-direction: column;
    }

    .y {
        margin-top: 100px;
    }

    .block_flex {
        position: unset;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .left_side {
        width: unset;
        text-align: center;
        max-width: 100%;
    }

    .right_side {
        width: unset;
    }

    .large_text {
        width: unset;
        max-width: 100vw;
    }

    .footer_info {
        flex-direction: column;
    }

    .logo_text {
        display: flex;
        gap: 50px;
    }

    .all_cl {
        width: 100%;
        margin-top: 50px;
        justify-content: center;
        gap: 100px;
    }

    .footer_p {
        max-width: unset;
    }

    .bottom_p {
        text-align: center;
    }

    .switch_button {
        padding: unset;
        flex-wrap: wrap;
    }

    .switch input {
        width: 55px;
    }

    .switch {
        height: 42px;
    }

    .input {
        display: flex;
    }

    .block_nav {
        display: flex;
        justify-content: center;
    }

    .navigation {
        gap: 70px;
    }

    .o {
        display: none;
    }

    .u {
        display: none;
    }

    .m {
        display: none;
    }

    footer {
        padding: 20px;
    }

    .m {
        display: none;
    }

    .u {
        display: none;
    }

    .o {
        display: none;
    }

    .buttons {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* MOBILE MEDIA */


@media (max-width:604px) {
    h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .left {
        align-items: center;
        gap: 20px;
    }

    .info_block {
        line-height: unset;
        text-align: center;
    }

    .sec {
        width: 140px;
    }

    .navigation {
        gap: 35px;
        align-items: center;
        margin-top: 50px;
    }

    .right {
        width: 100vw;
        right: unset;
        margin: 0 auto;
        display: flex;
        justify-content: center;

    }

    .imgs_block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }

    .logos {
        width: 75px;

    }

    .story_block {
        padding: unset;
        margin: 0 auto;
    }

    .tell_p {
        font-size: 16px;
        line-height: 23px;
    }

    .h {
        width: unset;
    }

    .story_block_2 {
        padding-left: 0px;
        width: 275px;
    }

    .story_block_3 {
        padding-left: 0px;
        width: 275px;

    }

    .text_block {
        padding-left: 0px;
        margin: 0 auto;
        padding-top: 0px;
    }

    .real_s {
        font-size: 32px;
        line-height: 40px;

    }

    .get {
        margin: 0;
    }

    .date {
        gap: 0px;
    }

    h2 {
        margin-top: 10px;
        font-size: 32px;
        line-height: 40px;
    }

    .orgs {
        width: 75px;
    }

    .organizations {
        gap: 50px;
    }

    .switch_button {
        gap: 20px;
    }

    .right_2 {
        gap: 30px;
    }

    legend {
        font-size: 16px;
        line-height: 25px;
    }

    .big {
        font-size: 45px;
        line-height: 55px;
    }

    .large_text {
        height: 380px;
    }

    .logo_text {
        flex-direction: column;
    }

    .logo_footer {
        width: 100px;
    }

    .footer_p {
        margin: 0;
    }

    .column_footer {
        height: 312px;
        gap: 15px;
    }

    .first_two {
        flex-direction: column;
        gap: 20px;
    }

}