body {
    background-color: darkslateblue;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 90px;
}

.switcher {
    width: 300px;
    height: 100px;
    border: 5px orangered solid;
}

.point {
    width: 100px;
    height: 100px;
    background-color: orangered;
    animation: back linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes back {
    1% {
        margin-left: 0px;
    }

    50% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0px;
    }
}

.heart {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img:hover {
    transform: scale(1.5);
    filter: grayscale(0);
    transition: 0.5s;
}

img {
    filter: grayscale(10);
    width: 350px;
    height: 350px;
    transition: 0.5s;
}

h3 {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    color: salmon;
    text-transform: uppercase;
    margin-top: 70px;
}

/* .loading{
    
} */
.lol_load {
    width: 100px;
    height: 100px;
    animation: load linear normal infinite 1.5s;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    /* 50%{
        transform: rotate(180deg);
    } */
    100% {
        transform: rotate(360deg);
    }
}

.main {
    transform: translate(0%, 50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px lightblue solid;
}

.main div {
    position: absolute;
    top: 50%;
    left: 50%;
}

.dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.hh {
    width: 80px;
    height: 6px;
    background-color: black;
    transform: translate(0, -50%) rotate(-180deg);
    transform-origin: 0 50%;
    animation: clock linear normal 423200s infinite;
}

.mm {
    width: 100px;
    height: 5px;
    background-color: grey;
    transform: translate(0, -50%) rotate(-180deg);
    transform-origin: 0 50%;
    animation: clock normal infinite linear 3600s;
}

.ss {
    width: 120px;
    height: 4px;
    background-color: red;
    transform: translate(0%, -50%) rotate(-180deg);
    animation: clock infinite 60s linear;
    transform-origin: 0 50%;
}

@keyframes clock {
    0% {
        transform: translate(0, -50%) rotate(180deg);
    }

    100% {
        transform: translate(0, -50%) rotate(540deg);
    }
}

.squares {
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_sq {
    width: 500px;
    height: 300px;
    background-color: purple;
    border: 2px solid black;
    transition: transform 1.5s;
    transform-origin: left center;

}

.hey {
    position: absolute;
    z-index: -1;
    text-align: center;
    
    font-size: 35px;
    color: grey;
}

.right_sq {
    width: 500px;
    height: 300px;
    background-color: purple;
    border: 2px solid black;
    transition: transform 1.5s;
    transform-origin: right center;
}

.squares:hover .left_sq {
    transform: perspective(800px) rotateY(40deg);
}

.squares:hover .right_sq {
    transform: perspective(800px) rotateY(-40deg);
}


/* ICONS */

.container_2 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.hell {
    margin-top: 190px;
}

.icons {
    display: flex;
    flex-direction: column;
    max-height: 275px;
    margin-top: 100px;
    gap: 0px;
    align-items: center;
    overflow: hidden;

}

.icon {
    display: flex;
    gap: 70px;
}

.key_imgs {
    width: 50px;
    height: 50px;
    margin-top: 470px;
    animation: appearence normal linear forwards;
    animation-duration: 0.6s;
    animation-iteration-count: 1;

}

.p {
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    animation-delay: 1.1s;
}

.c {
    transform: rotate(-35deg);
    width: 75px;
    height: 75px;
    animation-delay: 0s;
    margin-top: 90px;
    padding-top: 90px;

}

.o {
    width: 90px;
    height: 100px;
    transform: rotate(-20deg);
    animation-delay: 0.3s;
}

.b {
    transform: rotate(20deg);
    width: 80px;
    height: 100px;
    animation-delay: 0.6s;
}

.pal {
    transform: rotate(35deg);
    width: 70px;
    height: 70px;
    animation-delay: 1s;
    padding-top: 90px;
}

@keyframes appearence {
    0% {
        margin-top: 470px;
    }

    100% {
        margin-top: 30px;
    }
}