body{
    background-color: darkslateblue;
}
.container{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
    
}
.switcher{
    width: 300px;
    height: 100px;
    border: 5px orangered solid;
}
.point{
    width: 100px;
    height: 100px;
    background-color: orangered;
    animation: back  linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes back{
    1%{
        margin-left: 0px;
    }
    50%{
        margin-left: 200px;
    }
    100%{
        margin-left: 0px;
    }
}
.heart{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img:hover{
    transform: scale(1.5);
    filter: grayscale(0);
    transition: 0.5s;
}
img{
    filter: grayscale(10);
    width: 350px;
    height: 350px;
    transition: 0.5s;
}
h3{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}
h2{
    font-size: 35px;
    color: salmon;
    text-transform: uppercase;
    margin-top: 70px;
}

/* .loading{
    
} */
.lol_load{
    width: 100px;
    height: 100px;
    animation: load linear normal infinite 1.5s;
}
@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    /* 50%{
        transform: rotate(180deg);
    } */
    100%{
        transform: rotate(360deg);
    }
}
.main{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 115%;
    left: 50%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px lightblue solid;
}
.main div{
    position: absolute;
    top: 50%;
    left: 50%;
}
.dot{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    transform: translate(-50%, -50%);
}
.hh{
    width: 80px;
    height: 6px;
    background-color: black;
    transform: translate( 0, -50%) rotate(-180deg);
    transform-origin: 0 50%;
    animation: clock linear normal 423200s infinite;
}
.mm{
    width: 100px;
    height: 5px;
    background-color: grey;
    transform: translate(0, -50%) rotate(-180deg );
    transform-origin: 0 50%;
    animation: clock normal infinite linear 3600s;
}
.ss{
    width: 120px;
    height: 4px;
    background-color: red;
    transform: translate( 0%, -50%) rotate(-180deg);
    animation: clock infinite 60s linear;
    transform-origin: 0 50%;
}
@keyframes clock {
    0%{
        transform: translate(0,-50%) rotate(180deg);
    }
    100%{
        transform: translate(0,-50%) rotate(540deg);
    }
}
.squares{
    margin-top: 400px;
    display: flex;
    align-items: center;


}
.left_sq{
    width: 500px;
    height: 300px;
    background-color: purple;
    border: 2px solid black;
    transition: transform  1.5s;
    transform-origin: left center;
    
}
.hey{
    position: absolute;
    z-index: -1;
    transform: translate(0, 100px);
}
.right_sq{
    width: 500px;
    height: 300px;
    background-color: purple;
    border: 2px solid black;
    transition: transform  1.5s;
    transform-origin: right center;
}

.squares:hover .left_sq{
    transform: perspective(800px) rotateY(40deg);
}
.squares:hover .right_sq{
    transform: perspective(800px) rotateY(-40deg);
}
