body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Reforma Grotesk Medium';
        
}
@font-face {
    font-family: 'Reforma Grotesk Medium';
    src: url('ReformaGroteskMediumC.eot');
    src: url('ReformaGroteskMediumC.eot?#iefix') format('embedded-opentype'),
    url('ReformaGroteskMediumC.woff') format('woff'),
    url('ReformaGroteskMediumC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
h1{
    font-weight: 500;
    font-size: 40px;
}