.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec1{
    background-color: darkred;
    margin: auto;
}
.nav_bar{ 
    height: 100px;
    display: flex;
    margin: 0 auto;
    width: 1440px;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.el {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 150px;
}

h4 {
    font-size: 23px;
    color: white;
}

.hover_a {
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.a_top_nav {
    height: 100px;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;
    transition-duration: 0.5s;
}
.container{
    width: 1440px;
    margin: 50, auto, 0;
}

.writers {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.container {
    width: 1440px;
    margin: 50px auto 0px;
}

b {
    font-size: 35px;

}

.william {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

p {
    font-size: 22px;
    color: black;
}

.big {
    width: 70%;
}

.txt {
    margin-top: 10px;
}

.all_items {
    display: flex;
    justify-content: space-between;
}

.right_card {
    background-color: #d3d3d3;
    backdrop-filter: blur(10px);
    max-height: 770px;
    width: 380px;
    margin-left: 50px;
}

.bottom_info {
    display: flex;
    gap: 20px;
    margin-left: 30px;
}

span {
    font-weight: 700;
    color: grey;
}

.card_txt {
    font-size: 23px;
    font-weight: 900;
}

.card_2 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 9px;
}

.shecs {
    margin-left: 30px;
    margin-top: 20px;
    width: 320px;
}

.l {
    margin-top: 62px
}

.similar {
    font-size: 30px;
    color: black;
    font-weight: 900;
}

.cards_of_au {
    border: 3px solid lightgray;
    display: flex;
}

.bottom_cards_p {
    font-size: 22px;
    font-weight: 450;
    color: black;
}

.card_au {
    margin-top: 35px;
    margin-left: 35px;
    text-align: center;
}

.r {
    width: 1620px;
}

.img_bottom {
    width: 228px;
    height: 324px;
}